main.users-list-main {
    padding: 20px 60px 25px 30px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    header.user-list-header {
        h1.header-text {
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            color: #000000;
        }
    }
}
